<header>

</header>
<main>
  <section class="about">
    <div class="col-12 mb-5 d-flex justify-content-center align-items-center">

      <div class="col-4">
        <img src="assets/img/logof1.png" class="img-fluid" alt="">
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-4">
        <div class="card">
          <img src="assets/img/about4.jpg" class="img-flid" height="450px" width="auto" alt="">
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="assets/img/about2.jpg" class="img-fuid" height="450px" width="auto" alt="">
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="assets/img/about3.jpg" class="img-flui" height="450px" width="auto" alt="">
        </div>
      </div>
    </div>
    <h2 class="text-center">All About Us</h2>
    <p>At <span class="kala">Kala</span><span class="sang"> Sangam</span>, we are dedicated to enriching lives through
      the beauty and power of art. Our online art shop is a harmonious blend of creativity, culture, and craftsmanship.
    </p>
    <p>Discover a curated collection that spans the spectrum of artistic expression. From the intricate strokes of
      traditional Indian paintings that carry the legacy of centuries, to the vivid emotion captured by watercolors that
      seem to breathe, and the bold vibrancy of acrylics that ignite the senses.</p>
    <p>Our journey doesn't end there. We celebrate the ethereal charm of oil pastels, where colors merge to tell
      captivating stories, and the serene serendipity of Buddha paintings, each brushstroke a path to tranquility.</p>
  </section>
  <section class="mission">

    <div class="row mb-5">
      <div class="col-4">
        <div class="card">
          <img src="assets/img/about5.jpg" class="img-flid" height="450px" width="auto" alt="sd">
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="assets/img/about6.jpg" class="img-fuid" height="450px" width="auto" alt="">
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="assets/img/about7.jpg" class="img-flui" height="450px" width="auto" alt="">
        </div>
      </div>
    </div>
    <h2 class="text-center">Our Mission</h2>
    <p>Our mission at <span class="kala">Kala</span><span class="sang"> Sangam</span> is to be a global haven for art enthusiasts, where creativity finds its stage, artists
      find their voice, and clients find their masterpieces. We strive to make art accessible to all, fostering a
      connection that transcends boundaries.</p>
    <p>Through our platform, we aim to nurture a community that appreciates, celebrates, and encourages artistry in all
      its forms. Each artwork is a testament to human ingenuity, emotion, and vision. Our commitment is to showcase the
      talent of artists worldwide and to inspire a deeper understanding of the world through their creations.</p>
  </section>