<footer class="p-5 bg-dark">
    <div class="row">
      <div class="col-6 col-md-2 col-lg-3 mb-2">
       
       <img src="assets/img/logof1.png" alt="img" class="img-fluid" routerLink="/">
        <div class="col-12 text-center mt-3">
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><i class="fa-solid fa-envelope footer-icon"></i> kalamsangam12@gmail.com</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><i class="fa-solid fa-phone footer-icon"></i> +91-9224442400</a></li>
          </ul>
        </div>
        <div class="col-12 mt-2">
          <ul class="list-unstyled d-flex nav">
            <li class="ms-3 text-light">Follow us on</li>
            <li class="ms-3"><a class="link-dark" href="https://www.instagram.com"><i class="fa-brands fa-square-instagram social-icon"></i></a></li>
            <li class="ms-3"><a class="link-dark" href="www.facebook.com"><i class="fa-brands fa-facebook social-icon"></i></a></li>
            <li class="ms-3"><a class="link-dark" href="www.twitter.com"><i class="fa-brands fa-twitter social-icon"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-6 col-md-2 col-lg-3 mb-2">
        <h5 class="text-center footer-h">Our Categories</h5>
        <ul class="nav flex-column text-center mt-3">
          <li class="nav-item mb-2"><a routerLink="/traditional" class="nav-link p-0">Traditional</a></li>
          <li class="nav-item mb-2"><a routerLink="/buddha" class="nav-link p-0">Buddha</a></li>
          <li class="nav-item mb-2"><a routerLink="/acrylic" class="nav-link p-0">Acrylic</a></li>
          <li class="nav-item mb-2"><a routerLink="/oil-pastel" class="nav-link p-0">Oil-Pastel</a></li>
          <li class="nav-item mb-2"><a routerLink="/water-color" class="nav-link p-0">Water-Color</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 col-lg-3 mb-2">
        <h5 class="text-center footer-h">About Us</h5>
        <ul class="nav flex-column text-center mt-3">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Our Story</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Return Policy</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 col-lg-3 mb-2">
        <h5 class="d-block text-center footer-h">Payments</h5>
        <img src="assets/img/cardpay.png" class="img-fluid" alt="">
        <ul class="nav flex-column text-center">
          <li class="nav-item mb-2"><a href="#" class="n fw-bold nav-link p-0">Kala Sangam</a></li>
          <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">434, Mohan Das Road,</a></li> -->
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">23 street, Business Tower,</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Land Mark: behind 23 no. Water-Tank,</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Technical nagar, Delhi, India</a></li>
        </ul>
      </div>

      
    </div>

   <div class="border-top pb- mb-1"></div>
  </footer>
