.footer-icon{
    font-size: 1.4rem;
}

.social-icon{
    font-size: 2rem;
    color: #ffffff;
}
.footer-h{
    color: cornflowerblue;
}
.text-light:hover{
    color: #e62ea5;
}
img{
    cursor: pointer;
}
.nav li a{
    color: #ffffff;
}
.nav li a:hover{
    color: #e62ea5;
}