<h3 class="text-center p-2 mb-4">Frequently Asked Questions</h3>


<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        Q: How can I be sure of the product quality?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">
      <div class="accordion-body font-w">
        A: We take immense pride in offering only the highest quality products. Our items undergo rigorous quality
        checks before being shipped. If you have any concerns about the quality of your purchase, please contact our
        customer support team for assistance.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo">
        Q: What is your return policy?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample">
      <div class="accordion-body font-w">
        A: We offer a hassle-free return policy. If you're not satisfied with your purchase, you can initiate a return
        within 30 days of receiving the item. Please ensure the product is in its original condition and packaging.
        Refer to our Return Policy page for detailed instructions.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
        aria-expanded="false" aria-controls="collapseThree">
        Q: How long does shipping usually take?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
      data-bs-parent="#accordionExample">
      <div class="accordion-body font-w">
        A: Shipping times vary based on your location. Generally, you can expect your order to arrive within 5-7
        business days for domestic shipments and 10-15 business days for international orders.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
        aria-expanded="false" aria-controls="collapseFour">
        Q: What if I'm not home when my package is delivered?
      </button>
    </h2>
    <div id="collapsFive" class="accordion-collapse collapse" aria-labelledby="headingFour"
      data-bs-parent="#accordionExample">
      <div class="accordion-body font-w">
        A: If you're not available to receive the package, the carrier will usually leave a delivery notice or attempt a re-delivery. You can follow the instructions on the notice to arrange for a convenient delivery time
      </div>
    </div>
  </div>
  
</div>