.min-h{
    min-height: 600px;
}

.bg-img{
    background: url(../../../assets/img/notfound1.jpg);
    background-size: 100% 100%; /* Adjust this value */
  background-repeat: no-repeat;
  background-position: center center;
  }